body, h1, h2, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background: #68af4c;
  color: white;
  padding: 10px;
  text-align: center;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #45a049;
}

form {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form label, form input, form select {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

form input, form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
